@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700&display=swap');

:root {
    /*color scheme
    - from lightest color to darkest*/
    --white-000:#FFFFFF;
    --white-050:#eee;
    --white-100:rgb(165, 165, 165);
    --gray-000:#767676;
    
    --blue-000:#3665F3;
    --purple-000:#500750;
    --orange-000:#B03005;
    --lime-green-000:#C9E43B;

    --cyan-000:#C2F2EF;
    --cyan-050:#0ABFCA;
    --cyan-150:#01718F;
    --cyan-200:#003147;


    /*layout*/
    --standard-border:1px solid #eee;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}


body {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
}

img {
    display:block;
    max-width:100%;
}



/*UNIVERSAL CLASSES*/



/*buttons*/
.btn-type-1 {
    border:1px solid #fff;
    background:transparent;
    color:#fff;
    font-size:1.25rem;
    padding:0.5rem 1rem;
    cursor: pointer;
}

.btn-type-1__icon {
    color:inherit;
}




/*/////////////////*/





/*header*/
.header {
    /* background:rgba(255, 0, 0, 0.1); */
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size:13px;
    padding:0.5rem 1.5rem;
    border-bottom:var(--standard-border);
}



.header__items-1 {
    /* background:rgba(255, 0, 0, 0.2); */
    display:flex;
    font-size:1em;
}

.header__item {
    margin:0 0.85rem;
    text-decoration: none;
}

.header__item__link,
.header__item__link-2 {
    text-decoration: none;
}

.header__item__link:hover,
.header__item__link-2:hover {
    text-decoration: underline;
}

.header__item__link {
    color:#000;
}

.header__item__link:hover {
    text-decoration: underline;
}

.header-icon-bell,
.header-icon-shopping-cart {
    font-size:1.5em;
}

.watchlist-popout-box,
.my-ebay-items,
.notification-popup-box,
.cart-popup-box {
    display:none;
}






/*main content*/
.main-content-container {
    position:relative;
    /* background:rgba(255, 0, 0, 0.151); */
}

.main-content {
    /* background:rgba(36, 189, 16, 0.451); */
    position:relative;
    width:70%;
    max-width:100%;
    margin:0 auto;    
}

.main-content__header {
    /* background:rgba(183, 16, 189, 0.055); */
    position:relative;
    display:grid;
    grid-template-columns:125px auto 1fr minmax(5rem, 10rem) auto;
    justify-content: center;
    align-items: center;
    padding:1rem 3rem;
    border-bottom:var(--standard-border);
}

.main-content__header__img-logo {
    position: relative;
    width:auto;
    /* clip-path:inset(23% 53% 53% 0%); */
}


.shop-by-category__btn {
    background:none;
    border:none;

    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;

    padding:0.25rem;
    cursor: pointer;

    margin-right:1rem;
}



.shop-by-category__btn__text {
    display:inline-block;
    /*ch === character / letters*/
    width:9ch;
}

.shop-by-category__btn__icon {
    font-size:1.75rem;
}


.shop-by-category__menu {
    display:none;
}



.search-container {
    position: relative;
    display:grid;
    grid-template-columns: minmax(250px,1fr) minmax(125px,auto);

    border:2px solid #000;
    height:3rem;
    /*
    display:flex;
    justify-content: center;
    align-items:center;
    width:auto; 
    */
}


.searchbar-container {
    position: relative;
    /* background:rgba(0, 247, 255, 0.589); */
    /* padding:5px; */
    /* height:100%; */
    /* min-width:5rem; */
    /* width:10rem; */
    /* max-width:100rem; */
}

.searchbar-container__icon {
    position: absolute;
    left:5%;
    top:50%;
    transform:translateY(-50%);
    color:var(--white-100);
}

.searchbar__input,
.select-menu-container,
.select-menu {
    border:none;
    width:100%;
    height:100%;
}

.searchbar__input::placeholder {
    padding-left:12%;
    font-size:1.25em;
}



.select-menu {
    border-left:1px solid rgb(165, 165, 165);
    color:var(--gray-000);
    padding:0 0.5rem;
    
}

.select-menu__option {
    color:var(--gray-000);
}


.search-btn {
    border:none;
    height:3rem;
    background-color:var(--blue-000);
    color:#fff;
    font-size:0.9em;
    padding:0.5rem;
    margin:0 0.5rem 0 0.25rem;

    cursor: pointer;
}

.advanced-search-link {
    text-decoration: none;
    font-size:0.75rem;
    color:var(--gray-000);
}

.advanced-search-link:hover {
 color:var(--blue-000);
}





/*product items*/
.product-items-container {
    /* background:rgba(255, 0, 0, 0.12); */
}

.product-items {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.product-item {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding:1rem;
    /* background:rgba(255, 0, 0, 0.2); */
}

.product-item__topic {
    background:none;
    border:none;
}

.product-item-icon {
    font-size:0.6rem;
    color:#333;

    margin-right:0.25rem;
}

.product-item__menu {
    display:none;
}





/*hero carousel*/
.hero-carousel-container {
    background:rgba(255, 0, 0, 0.37);
    position: relative;
    width:100%;
    height:20rem;
}

.hero-carousel {
    background:rgba(9, 255, 0, 0.37);
    position: relative;
    width:100%;
    height:100%;

}

.hero-carousel__slides {
    position: relative;
    height:100%;
}

.hero-carousel__slide {
    background:rgba(195, 0, 255, 0.493);
    position:relative;
    width:100%;
    height:100%;
    background-position: center;
    background-repeat:none;
    background-size:cover;
}

.hero-slide-1 {
    background-image: url("./images/hero-carousel-images/banner-game-1.webp");
    background-position: top;
}


.hero-carousel__slide__text {
    background:rgba(84, 177, 30, 0.459);
    width:30%;
    height:100%;

}


.play-pause-btn {
    position: absolute;
}