@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700&display=swap');

:root {
    /*color scheme
    - from lightest color to darkest*/
    --white-000:#FFFFFF;
    --white-050:#eee;
    
    --gray-000:#767676;
    
    --blue-000:#3665F3;
    --purple-000:#500750;
    --orange-000:#B03005;
    --lime-green-000:#C9E43B;

    --cyan-000:#C2F2EF;
    --cyan-050:#0ABFCA;
    --cyan-150:#01718F;
    --cyan-200:#003147;


    /*layout*/
    --standard-border:1px solid #eee;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}


body {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
}

img {
    display:block;
    max-width:100%;
}









/*header*/
.header {
    /* background:rgba(255, 0, 0, 0.1); */
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size:13px;
    padding:0.5rem 1.5rem;
    border-bottom:var(--standard-border);
}



.header__items-1 {
    /* background:rgba(255, 0, 0, 0.2); */
    display:flex;
    font-size:1em;
}

.header__item {
    margin:0 0.85rem;
    text-decoration: none;
}

.header__item__link,
.header__item__link-2 {
    text-decoration: none;
}

.header__item__link:hover,
.header__item__link-2:hover {
    text-decoration: underline;
}

.header__item__link {
    color:#000;
}

.header__item__link:hover {
    text-decoration: underline;
}

.header-icon-bell,
.header-icon-shopping-cart {
    font-size:1.5em;
}

.watchlist-popout-box,
.my-ebay-items,
.notification-popup-box,
.cart-popup-box {
    display:none;
}






/*main content*/
.main-content-container {
    /* background:rgba(255, 0, 0, 0.151); */
    position:relative;
}

.main-content {
    /* background:rgba(36, 189, 16, 0.451); */
    position:relative;
    width:70%;
    margin:0 auto;
    
    
}

.main-content__header {
    /* background:rgba(183, 16, 189, 0.250); */
    position:relative;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    padding:0.5rem 0;
    border-bottom:var(--standard-border);
}

.main-content__header__img-logo {
    /* background:rgba(255, 0, 0, 0.200); */
    position: relative;
    /* clip-path:inset(23% 53% 53% 0%); */
    transform: scale(0.6);
}


.shop-by-category__btn {
    /*background-color:rgba(255, 0, 0, 0.500);*/
    border:none;
    background:none;

    display:flex;
    justify-content: center;
    align-items:center;

    padding:0.25rem;
    cursor: pointer;
}



.shop-by-category__btn__text {
    display:inline-block;
    /*ch === character / letters*/
    width:9ch;
}

.shop-by-category__btn__icon {
    font-size:1.75rem;
}


.shop-by-category__menu {
    display:none;
}



.search-container {
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
    background:red;
    height:3rem;
    border:2px solid #000;
}


.searchbar-container {
    background:rgba(0, 247, 255, 0.589);
    position: relative;
    height:100%;
}

.searchbar-container__icon {
    position: absolute;
    left:5%;
    top:50%;
    transform:translateY(-50%);
    color:#000;
}

.searchbar__input {
    border:none;
    min-width:5rem;
    width:25rem;
    height:100%;

    /* background:red; */
}

.searchbar__input::placeholder {
    padding-left:2rem;
}

.select-menu-container,
.select-menu {
    position: relative;
    height:100%;
    border:none;
}

.select-menu {
    border-left:1px solid rgb(165, 165, 165);
}


.search-btn {
    border:none;
    height:3rem;
    background-color:var(--blue-000);
    color:#fff;
    padding:0.5rem;
    margin:0 0.5rem 0 0.25rem;

    min-width:5rem;
    width:10rem;
}

.advanced-search-link {
    text-decoration: none;
    font-size:0.75rem;
}